<div class="container m-5">
  <h1>Doughnut plot D3js</h1>
  <p>
    Text
  </p>
  <app-doughnut-d3js></app-doughnut-d3js>
</div>

<div class="container">
  <h1>Pie Chart With dynamic data (D3js)</h1>
  <p>
    Text
  </p>
  <app-pie-d3js></app-pie-d3js>
</div>

<div class="container">
  <h1>Bar Chart With dynamic data (D3js)</h1>
  <p>
    Text
  </p>
  <app-bar-d3js></app-bar-d3js>
</div>

<div class="container">
  <h1>scatter plot D3js</h1>
  <p>
    Text
  </p>
  <app-scatter-d3js></app-scatter-d3js>
</div>


