<h2>Angular 12 Date Range Picker Demo</h2>


<div class="container-fluid">
  <mat-form-field appearance="legacy">

    <mat-label>Choose Date Range</mat-label>

    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
      <input matStartDate formControlName="start" placeholder="Start Date">
      <input matEndDate formControlName="end" placeholder="End Date">
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-date-range-picker #picker></mat-date-range-picker>

  </mat-form-field>

  <h2>
    Start: {{dateRange.value.start | date}}
    End: {{dateRange.value.end | date}}
  </h2>
</div>

<hr>

<div class="mb-3 mt-3" style="height: auto; width: 500px;">
  <mat-chip-list aria-label="filter selection">
    <label *ngFor="let criteria of filter, let i = index" for="{{'checkbox_'+i}}">
      <mat-chip [selectable]="selectable" color="primary" class="">
        <input class="checkbox me-1" type="checkbox" (change)="updateAllComplete(filter)" value="criteria.checked"
          id="{{'checkbox_'+i}}" name="criteria" [checked]="criteria.checked">
        <span class="me-1">{{criteria.checked}} -- {{criteria.name}}</span>
        <mat-icon matSuffix class="iconInfo mt-2">info
        </mat-icon>
      </mat-chip>
    </label>
  </mat-chip-list>
</div>

<hr>

<div class="container-fluid">
  <p class="fs-4">Posts</p>

  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of posts">{{post.title}}</li>
  </ul> -->


  <div class="list-group">
    <a class="list-group-item list-group-item-action" aria-current="true" *ngFor="let post of posts">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small>{{post.id}}</small>
      </div>
      <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
      <small>{{post.body}}</small>
    </a>
  </div>
</div>