
<div class="container">
  <h1>Doughnut Chart</h1>
  <p>
    Doughnut charts are used to prove a “part-to-whole” association, and In doughnut charts, all the section together express 100%. 
    Doughnut charts serve the purpose of representing the data for a tiny number of categories (2-5).
    Show the car sales data between three companies BMW, Ford and Tesla using Doughnut chart in Angular with ng2-charts module.
  </p>
  <app-doughnut-chart></app-doughnut-chart>
</div>

<div class="container">
  <h1>Line Chart</h1>
  <p>
    A line chart is a basic chart, and It is also known as the line plot, line curve, and line graph chart. 
    It represents the data in a sequence of information with the small associated points called markers.
    Let’s represent the crude oil prices for 6 months via line chart in Angular app using ng2-charts.
  </p>
  <app-line-chart></app-line-chart>
</div>

<div class="container">
  <h1>Radar Chart</h1>
  <p>
    A bar chart is a well-know chart that helps in representing the information categorically with rectangular bars. Data can be shown vertically or horizontally, and the displayed values are proportionate to the heights or length of the values defined. Let us display the best fruit data using vertical bar chart in Angular 11.
  </p>
  <app-radar-chart></app-radar-chart>
</div>

<div class="container">
  <h1>Pie Chart</h1>
  <p>
    The name of the circle chart also recognizes a pie chart. It is a circular statistical graphic,
    which is separated into slices to demonstrate mathematical symmetries. In a pie chart, the arc length of per
    slice is proportionate to the amount it serves.
  </p>
  <app-pie-chart></app-pie-chart>
</div>

<div class="container">
  <h1>Bubble Chart</h1>
  <p>
    A bubble chart is best suitable to represent the data in 3 dimensions. Per entity with its triplet of 
    correlated data is plotted as a disk that proves two of the vᵢ values through the disk’s xy location 
    and the third through its size.
  </p>
  <app-bubble-chart></app-bubble-chart>
</div>