mat-drawer-container {
  flex: 1 1 auto;
  height: 100%;
}

/* app-sidenav {
  display: flex;
} */
/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */


.sideNav {
  width: 300px;
}

.sidenav-content {
   display: flex;
   height: 100%;
   width: 100%;
}

.example-viewport {
  height: 100%;
  width: 200px;
  border: 0px solid black;
}

.example-item {
  height: 50px;
}

